
.rosterPage {
    height: fit-content;
}

.mainHolder {
    display: flex;
    width: 100%;
}

.teamInfoContainer {
    width: 35%;
    padding: 5em;
}

.button {
    width: 20em;
}

.tableHeader h1 {
    display: inline-block;
    margin-inline: .5em;
}

.tableArrow:hover {
    color: #e07a5f;
    cursor: pointer;
}

.opposingLogo {
    width: 15%;
}
.logoHeader {
    margin: 1em;
}

.tradeValue {
    width: 90%;
}

.tradeBar {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.tradeTable {
    color:rgb(255, 255, 255);
    width: 100%;
}

.myTeamTrading {
    width: 50%;
    padding: 1em;
  }
  .opposingTeamTrading {
    width: 50%;
    padding: 1em;
  }
  
  .tradePanel {
    display: flex;
    touch-action: none;
    width: 100%;
  }
  
  .tradeExecute {
    width: 100%;
  }
  
.playerData:hover {
    color: green;
}

.tradeList {
    display: flex;
    width: 100%;
    font-size: 1em;
}
.tradeList h1 {
    font-size: 1.25em;
}
.tradeList h2 {
    font-size: 1em;
}

.myTradeList {
    width: 50%;
}
.opposingTradeList {
    width: 50%;
}

.tradePanel {
    display: flex;
    touch-action: none;
    width: 100%;
  }
.playerContainer {
    list-style: none;
    display:inline-block;
}
.playerContainer li {
    float:left;
    padding: .5em;
    border-radius: .5em;
    width: 10em;
    margin-inline: .2em;
    margin: 1em;
    overflow: hidden;
    height: 7vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(142, 146, 147, 0.63) 100% );
    box-shadow: 0 5px 20px 0 rgb(32, 38, 57);
    text-align: center;
    color: #000;
    font-weight: 500;
    font-family: 'Archivo Black', sans-serif;
}

.forwardLines li:nth-child(3n+4) {
    clear:both;
 }

 .defenseLines li:nth-child(2n+1) {
    clear:both;
 }

 .goalieLines li:nth-child(n) {
    clear:both;
 }
