.App {
  text-align: center;
}

.myTeamPlayers {
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.tradingTeam {
}

.loaded {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}